<body class="body bg-white dark:bg-[#0F172A] min-h-[100dvh] relative">
  <!-- NAV -->
  <%- include('../../partials/nav') %>

  <!-- MAIN CONTENT -->
  <main class="w-full relative">
    <div class="flex flex-wrap">
      <!-- MINI  -->
      <button
      id="addJurnal"
        class="bg-gray-800 fixed right-10 max-md:right-6 hover:bg-slate-600 hover:text-slate-200 dark:bg-white dark:hover:bg-slate-700 dark:hover:text-white duration-300 dark:text-gray-900 text-white w-11 h-11 flex items-center justify-center rounded-full"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
      <div class="w-full grid grid-cols-3 max-md:grid-cols-1 max-md:flex-col pl-[4.3rem] flex-wrap pr-5 max-md:pl-[3.5rem] max-md:pr-[0.55rem] gap-6">
        <!-- CONTENT -->
        <% data.forEach(item => { %>
          <a href="/jurnal/<%= item.id %>"
          class="w-auto h-auto flextext-gray-900 font-medium dark:text-gray-400 bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
        >
          <h3><%= item.title || "Judul..." %></h3>
          <p class="truncate">
           <%= item.content || "Content..." %>
          </p>
        </a>
        <% }); %>
      </div>
    </div>
  </main>

  <script src="/resource/js/jurnal.min.js" crossorigin="anonymous"></script>
