<!DOCTYPE html>
<html lang="en" class="no-scrollbar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/resource/storage/favicon.ico" type="image/x-icon">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/resource/css/main.css" />
    <!-- TAILWIND CSS -->
    <link rel="stylesheet" href="/resource/css/styles.css" />
    <!-- JS JQUERY -->
    <script src="/resource/js/jquery.min.js"></script>
    <!-- CHART -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.3.0/apexcharts.min.js"
      integrity="sha512-QgLS4OmTNBq9TujITTSh0jrZxZ55CFjs4wjK8NXsBoZb04UYl8wWQJNaS8jRiLq6/c60bEfOj3cPsxadHICNfw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- FLOWBITE CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- SWEETALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- FLOWBITE JS -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
    <!-- JS -->
    <script src="/resource/js/event.js" crossorigin="anonymous"></script>
  </head>
</html>
