<header>
     <!-- NAV -->
 <div
 class="fixed w-full z-30 flex bg-white dark:bg-[#0F172A] p-2 items-center justify-center h-16 px-10"
>
 <div
   class="logo ml-12 dark:text-white transform ease-in-out duration-500 flex-none h-full flex items-center justify-center"
 >
   Jurnal Ramadhan
 </div>

 <!-- SPACER -->
 <div class="grow h-full flex items-center justify-center"></div>
 <button id="dropdownDefaultButton" data-dropdown-toggle="menudropdown" type="button">
   <div  class="flex-none h-full text-center flex items-center justify-center">
     <div class="flex space-x-1 items-center">
       <div class="flex-none flex justify-center">
         <div class="w-7 h-7">
           <img
             src="/resource/storage/ramadhan.png"
             alt="profile"
             class="shadow rounded-full object-cover"
           />
         </div>
       </div>

       <div
         class="hidden md:block text-sm md:text-md text-black dark:text-white"
       >
         <%= username %>
       </div>
     </div>
   </div>
 </button>

 <!-- DROPDOWN -->
  <div id="menudropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
   <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
     <li>
       <a id="signout" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
     </li>
   </ul>

  </div>

</div>
<aside
 class="w-60 -translate-x-48 fixed transition transform ease-in-out duration-1000 z-50 flex h-screen bg-[#1E293B] dark:bg-gray-700"
>
 <!-- open sidebar button -->
 <div
   class="max-toolbar translate-x-24 scale-x-0 w-50 -right-6 transition transform ease-in duration-300 flex items-center justify-between border-4 border-white dark:border-[#0F172A] absolute top-2 rounded-full h-12"
 >
   
   <div
     class="flex items-center space-x-3 group bg-gradient-to-r dark:from-blue-500 dark:via-blue-700 dark:to-cyan-600 from-indigo-500 via-purple-500 to-purple-500 pl-10 pr-2 py-1 rounded-full text-white"
   >
     <div class="transform ease-in-out duration-300 mr-12">Ramadhan</div>
   </div>
 </div>
 <div
   onclick="openNav()"
   class="-right-6 transition transform ease-in-out duration-500 flex border-4 border-white dark:border-[#0F172A bg-[#1E293B] dark:bg-gray-700 dark:hover:bg-slate-800 hover:bg-purple-500 absolute top-2 p-3 rounded-full text-white hover:rotate-45"
 >
   <svg
     xmlns="http://www.w3.org/2000/svg"
     fill="none"
     viewBox="0 0 24 24"
     strokeWidth="{3}"
     stroke="currentColor"
     class="w-4 h-4"
   >
     <path
       strokeLinecap="round"
       strokeLinejoin="round"
       d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
     />
   </svg>
 </div>

 <!-- MAX SIDEBAR-->
 <div
   class="max hidden text-white mt-20 flex-col space-y-2 w-full h-[calc(100vh)]"
 >
 <!-- MENU NAVIGATION -->
   <a href="/"
     class="hover:ml-4 w-full text-white hover:text-purple-500 dark:hover:text-blue-500 bg-[#1E293B] dark:bg-gray-700 p-2 pl-8 rounded-full transform ease-in-out duration-300 flex flex-row items-center space-x-3"
   >
     <svg
       xmlns="http://www.w3.org/2000/svg"
       fill="none"
       viewBox="0 0 24 24"
       strokeWidth="1.5"
       stroke="currentColor"
       class="w-4 h-4"
     >
       <path
         strokeLinecap="round"
         strokeLinejoin="round"
         d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
       />
     </svg>
     <div>Home</div>
    </a>

 </div>
 <!-- MINI SIDEBAR-->
 <div class="mini mt-20 flex flex-col space-y-2 w-full h-[calc(100vh)]">
    <!-- MINI MENU NAVIGATION -->
   <a href="/"
     class="hover:ml-4 justify-end pr-5 text-white hover:text-purple-500 dark:hover:text-blue-500 w-full bg-[#1E293B] dark:bg-gray-700 p-3 rounded-full transform ease-in-out duration-300 flex"
   >
     <svg
       xmlns="http://www.w3.org/2000/svg"
       fill="none"
       viewBox="0 0 24 24"
       strokeWidth="{1.5}"
       stroke="currentColor"
       class="w-4 h-4"
     >
       <path
         strokeLinecap="round"
         strokeLinejoin="round"
         d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
       />
     </svg>
    </a>
 </div>
</aside>

<div
    class="content ml-12 transform ease-in-out duration-500 pt-20 px-2 md:px-5 pb-4"
  >
    <!-- NAVIGATION TOP -->
    <nav
      class="flex px-5 py-3 text-gray-700 rounded-lg bg-gray-50 dark:bg-[#1E293B]"
      aria-label="Breadcrumb"
    >
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a
            href="#"
            class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          >
            <svg
              class="w-4 h-4 mr-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
              ></path>
            </svg>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="w-6 h-6 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fillRule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clipRule="evenodd"
              ></path>
            </svg>
            <a
              href="#"
              class="ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
              >Journals</a
            >
          </div>
        </li>
      </ol>
    </nav>


  <script src="/resource/js/nav.min.js" crossorigin="anonymous"></script>
</header>